/* Titles */

#pageTitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

#firstSubTitle {
    padding-top: 15px;
    padding-left: 15px;
}

#secoundSubTitle {
    padding-left: 0px;
}

#thirdSubTitle {
    padding-left: 35px;
}

/*------------------------------*/

/* Cart summary */

#cartLength {
    background-color: gray;
    border-radius: 50%;
}

#total {
    font-weight: bold;
    color: forestgreen;
}

#totalPrice {
    color: forestgreen;
}