/* Top image background */
.topBackground {
    background-image: url("../Images/yellow.jpg");
    height: 60%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}